:root {
  --title-font: "Poppins", sans-serif;
  --body-font: "Lato", sans-serif;
  --background: #fed765;
  --main-color: #f4633a;
  --secondary-color: #000000;
  --third-color: #97968d;
}
body {
  background-color: var(--background);
  font-family: var(--body-font);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}
img {
  height: auto;
  max-width: 100%;
  margin-bottom: -200px;
}
#desktop-pic {
  display: none;
}
#body-container {
  width: 630px;
  margin: auto;
  height: 100%;
}

#grid {
  padding: 0 100px;
  margin-top: -90px;
}
h1 {
  font-family: var(--title-font);
  font-size: 40px;
  text-align: center;
}

form div {
  padding: 2vw 0;
}

label {
  color: var(--main-color);
  font-size: 18px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-color);
  width: 100%;
  padding: 15px 0;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--background);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--background);
}

::placeholder {
  color: var(--background);
}

input[type="checkbox"] {
  background-color: var(--secondary-color);
  border: none;
}

#conditions {
  width: 5%;
  margin-left: -5px;
}

#conditions ~ label {
  color: var(--secondary-color);
}
span {
  color: var(--main-color);
}
button {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  background-color: var(--main-color);
  color: white;
  margin-top: 30px;
}

@media only screen and (min-width: 950px) {
  h1 {
    font-size: 75px;
    line-height: 100%;
  }
  #body-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100vw;
  }

  #desktop-pic {
    display: block;
    height: 100vh;
    min-width: 700px;
    margin-right: -350px;
  }

  #desktop-pic img {
    height: 100%;
  }

  #mobile-pic {
    display: none;
  }

  #grid {
    margin-top: 5%;
    max-width: 600px;
  }
}

@media only screen and (min-width: 1200px) {
  #desktop-pic {
    margin-right: 0;
  }

  form div {
    padding: 10px 0;
  }

  label {
    display: none;
  }
  input {
    background-color: white;
    border: 1px solid var(--third-color);
    font-size: 20px;
    border-radius: 30px;
    padding: 20px;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: var(--third-color);
    display: inline;
    padding-left: 20px;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--third-color);
    display: inline;
    padding-left: 20px;
  }

  ::placeholder {
    color: var(--third-color);
    display: inline;
    padding-left: 20px;
  }

  #terms-container input,
  #terms-container label {
    display: inline-block;
  }
}
